# Pandas

In [1]:
import pandas as pd

In [2]:
# Mở file và đưa vào pandas dataframe
df = pd.read_csv("data/elonmusk_tweets.csv")

In [3]:
df.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [4]:
# Lấy ra khoảng thời gian đăng bài
post_periods = df['created_at'].values

In [9]:
post_hours = []

for t in post_periods:
    _, h = t.split()
    post_hours.append(h[:2])

In [11]:
count = {}
for h in post_hours:
    if h in count:
        count[h] += 1
    else:
        count[h] = 1

In [12]:
count

{'14': 114,
 '20': 176,
 '16': 198,
 '06': 85,
 '04': 98,
 '18': 162,
 '23': 141,
 '19': 154,
 '00': 144,
 '22': 168,
 '21': 192,
 '01': 183,
 '17': 190,
 '10': 34,
 '15': 190,
 '07': 94,
 '08': 82,
 '03': 104,
 '02': 119,
 '05': 81,
 '12': 17,
 '11': 15,
 '09': 55,
 '13': 23}